.card-component {
  /* width: 300px; */
  /* height: auto; */
  padding: 10px;
  margin: 5px;
  border-radius: 1em;
  border: 1px solid teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 15px 5px aliceblue;
  transition: box-shadow 0.3s ease-in-out;
}

.card-component:hover {
  box-shadow: 0 0 25px 10px skyblue;
}

.card-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.remove-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.remove-button:hover {
  background-color: darkcyan;
  transform: translateY(-2px);
}

.remove-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
