.user-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  justify-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.robohash-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 5px solid black;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-card {
  padding: 15px;
  text-align: center;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.user-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-details {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.user-card:hover .user-details {
  max-height: 500px;
  opacity: 1;
}
.nav-container {
  justify-content: space-between;
  padding: 20px 20px 20px;
  display: flex;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
}
